<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>主页</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- messenger -->
    <link rel="stylesheet" href="messenger/messenger.css"/>
    <link rel="stylesheet" href="messenger/messenger-theme-future.css"/>

    <!-- bootstrap table -->
    <link rel="stylesheet" href="table/bootstrap-table.min.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"/>

    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/overview.css"/>
</head>
<body>
    <!--nav bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./"><strong>无线网多跳温湿度监控系统</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:text="|当前登录用户: ${name}|"></a></li>
                    <li><a href="/logout">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="./"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 概览页面</a></li>
                    <li class=""><a href="./monitor"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 监控页面</a></li>
                    <li class=""><a href="./config"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 配置页面</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 数据概览页面
                </h2>
                <!-- overview -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <div class="row text-center overview-title">
                                    温度梯度值
                                </div>
                                <div class="row text-center overview-content" id="temp-grad"></div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="row text-center overview-title">
                                    湿度梯度值
                                </div>
                                <div class="row text-center overview-content" id="humi-grad"></div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="row text-center overview-title">
                                    数据采样时间
                                </div>
                                <div class="row text-center overview-content" id="data-time"></div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="row text-center overview-title">
                                    测量时间间隔
                                </div>
                                <div class="row text-center overview-content" id="data-interval"></div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="row text-center overview-title">
                                    记录时长
                                </div>
                                <div class="row text-center overview-content" id="data-period" th:text="${start}"></div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="row text-center overview-title">
                                    记录状态
                                </div>
                                <div class="row text-center overview-content" id="data-status" th:text="${status}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <select class="selectpicker" data-width="100%" id="data-time-select" title="数据采样时间">
                                <optgroup label="数据采样时间">
                                    <option value="30">30分钟</option>
                                    <option value="60">60分钟</option>
                                    <option value="120">2小时</option>
                                    <option value="720">12小时</option>
                                    <option value="1440">24小时</option>
                                    <option value="2160">36小时</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <select class="selectpicker" data-width="100%" id="data-interval-select" title="测量时间间隔">
                                <optgroup label="测量时间间隔">
                                    <option value="30">30秒</option>
                                    <option value="60">1分钟</option>
                                    <option value="120">2分钟</option>
                                    <option value="300">5分钟</option>
                                    <option value="600">10分钟</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <button class="btn btn-default btn-block" id="refreshBtn">刷新传感器数据</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- data table -->
                <div class="col-md-12 col-sm-12">
                    <div id="toolbar">
                        <button class="btn btn-default" data-toggle="modal" data-target="#formModel">详情数据查看和下载</button>
                    </div>
                    <table id="all-info-table"
                           data-id-field="address"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-click-to-select="true"
                           data-pagination="true"
                           data-page-size="5"
                           data-page-list="[5, 10, ALL]"
                           data-pagination-first-text="First"
                           data-pagination-pre-text="Previous"
                           data-pagination-next-text="Next"
                           data-pagination-last-text="Last">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- messenger -->
    <script src="messenger/messenger.min.js"></script>
    <script src="messenger/messenger-theme-future.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap-select.min.js"></script>

    <!-- bootstrap table -->
    <script src="table/bootstrap-table.min.js"></script>

    <script src="js/sensor-overview.js"></script>
</body>
</html>