<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>监控页面</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- messenger -->
    <link rel="stylesheet" href="messenger/messenger.css"/>
    <link rel="stylesheet" href="messenger/messenger-theme-future.css"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap-select.min.css"/>

    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="css/dashboard.css"/>
    <link rel="stylesheet" href="css/monitor.css"/>
</head>
<body>
    <!--nav bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./"><strong>无线网多跳温湿度监控系统</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:text="|当前登录用户: ${name}|"></a></li>
                    <li><a href="/logout">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class=""><a href="./"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 概览页面</a></li>
                    <li class="active"><a href="./monitor"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 监控页面</a></li>
                    <li class=""><a href="./config"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 配置页面</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 传感器监控页面
                </h2>

                <div class="row sensor-container">
                    <div class="col-md-3 col-sm-3">
                        <button class="btn btn-info btn-block" id="start-btn">开始监控</button>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <select class="selectpicker" data-width="100%" id="interval-select" title="数据读取间隔">
                            <optgroup label="数据读取间隔">
                                <option value="5">5秒</option>
                                <option value="30">30秒</option>
                                <option value="60">60秒</option>
                                <option value="300">300秒</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="sensor-info">当前传感器数量：<mark th:text="${count}"></mark></div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="sensor-info">当前数据读取间隔：<mark id="interval-time">5</mark>秒</div>
                    </div>
                </div>

                <th:block th:if="${not #lists.isEmpty(status)}">
                    <th:block th:each="status_info,index:${status}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="sensor-title">传感器编号: <mark th:text="${status_info.address}"></mark></div>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-3 col-sm-3">
                                    <div class="sensor-sub-title">当前温度: <strong class="sensor-data" th:id="|sensor-temp-${status_info.address}|">-</strong></div>
                                    <div class="sensor-sub-title">当前湿度: <strong class="sensor-data" th:id="|sensor-humi-${status_info.address}|">-</strong></div>
                                    <div class="sensor-sub-title">
                                        温度预警范围:
                                        <strong class="sensor-threshold-data" th:id="|sensor-temp-lower-${status_info.address}|" th:text="|${status_info.lowertemp}|"></strong>°C -
                                        <strong class="sensor-threshold-data" th:id="|sensor-temp-upper-${status_info.address}|" th:text="|${status_info.uppertemp}|"></strong>°C
                                    </div>
                                    <div class="sensor-sub-title">
                                        湿度预警范围:
                                        <strong class="sensor-threshold-data" th:id="|sensor-humi-lower-${status_info.address}|" th:text="|${status_info.lowerhumi}|"></strong>% -
                                        <strong class="sensor-threshold-data" th:id="|sensor-humi-upper-${status_info.address}|" th:text="|${status_info.upperhumi}|"></strong>%
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="sensor-chart" th:id="|sensor-chart-${status_info.address}|">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>

            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- messenger -->
    <script src="messenger/messenger.min.js"></script>
    <script src="messenger/messenger-theme-future.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap-select.min.js"></script>

    <!-- echarts -->
    <script src="js/echarts.common.min.js"></script>
    <script src="js/echart-theme/infographic.js"></script>
    <script src="js/echart-theme/shine.js"></script>
    <script src="js/echart-theme/roma.js"></script>
    <script src="js/echart-theme/vintage.js"></script>

    <script src="js/sensor-show.js"></script>
</body>
</html>